<footer class="footer">
<div class="footer__policy">
    <div class="grid">
        <div class="policy">
            <div class="grid__column-4">
                <div class="policy__heading">
                    <i class="policy__heading-icon fa-regular fa-paper-plane"></i>
                    <div class="policy__heading-wrap">
                        <div class="policy__heading-label">Thanh toán và giao hàng</div>
                        <div class="policy__heading-separate"></div>
                    </div>
                </div>
                <div class="policy__heading-body">
                    <p> Miễn phí vận chuyển cho đơn hàng trên 399.000 VNĐ <br>
                        - Giao hàng và thu tiền tận nơi <br>
                        - Chuyển khoản và giao hàng <br>
                        - Mua hàng tại shop
                    </p>
                </div>
            </div>

            <div class="grid__column-4">
                <div class="policy__heading">
                    <i class="policy__heading-icon fa-regular fa-credit-card"></i>
                    <div class="policy__heading-wrap">
                        <div class="policy__heading-label">Thẻ thành viên</div>
                        <div class="policy__heading-separate"></div>
                    </div>
                </div>
                <div class="policy__heading-body">
                    <p> Chế độ ưu đãi thành viên VIP: 
                        <br>- 5% cho thành viên Bạc 
                        <br>- 10% cho thành viên Vàng 
                        <br>- 15% cho thành viên Kim cương
                    </p>
                </div>
            </div>

            <div class="grid__column-4">
                <div class="policy__heading">
                    <i class="policy__heading-icon fa-regular fa-clock"></i>
                    <div class="policy__heading-wrap">
                        <div class="policy__heading-label">Giờ mở cửa</div>
                        <div class="policy__heading-separate"></div>
                    </div>
                </div>
                <div class="policy__heading-body">
                    <p> <strong>8h30 đến 22:00</strong>
                        <br>- Tất cả các ngày trong tuần
                        <br>- Áp dụng cho tất cả các chi nhánh hệ thống cửa hàng 4MEN
                    </p>
                </div>
            </div>     
            
            <div class="grid__column-4">
                <div class="policy__heading">
                    <i class="policy__heading-icon fa-solid fa-headphones-simple"></i>
                    <div class="policy__heading-wrap">
                        <div class="policy__heading-label">Hỗ trợ 24/7</div>
                        <div class="policy__heading-separate"></div>
                    </div>
                </div>
                <div class="policy__heading-body">
                    <p> Gọi ngay cho chúng tôi khi bạn có thắc mắc
                        <br>- 0868.444.644
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="footer__first">
    <div class="grid">
        <div class="first">
            <div class="grid__column-4">
                <div class="first__logo">
                    <img src="https://4menshop.com/logo-footer.png?v=1" alt="" class="first__logo-img">
                </div>

                <ul class="first__list">
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Giới thiệu</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Liên hệ</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Tuyển dụng</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Tin tức</a>
                    </li>
                </ul>
                <ul class="first__hotline-list">
                    <li class="first__list-item first__hotline-list-item">
                        <i class="first__hotline-list-icon fa-regular fa-envelope"></i>
                        Email:  
                        <a href="" class="first__hotline-link">
                            trtrung128@gmail.com
                        </a>
                    </li>
                    <li class="first__list-item first__hotline-list-item">
                        <i class="first__hotline-list-icon fa-solid fa-phone"></i>
                        Hotline:
                        <a href="" class="first__hotline-link">
                            0336.797.748
                        </a>
                    </li>
                </ul>
            </div>

            <div class="grid__column-4">
                <h3 class="first__heading">Hỗ trợ khách hàng</h3>
                <ul class="first__list">
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Hướng dẫn đặt hàng</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Hướng dẫn chọn size</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Câu hỏi thường gặp</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Chính sách khách VIP</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Thanh toán - Giao hàng</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Chính sách đổi hàng</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Chính sách bảo mật</a>
                    </li>
                    <li class="first__list-item">
                        <i class="first__list-icon fa-solid fa-angles-right"></i>
                        <a href="" class="first__list-item-label">Chính sách Cookie</a>
                    </li>
                </ul>
            </div>

            <div class="grid__column-4">
                <h3 class="first__heading">Hệ thống cửa hàng</h3>
                <a href="" class="first__map-link">
                    <img src="https://4menshop.com/images/footer-map.jpg" alt="" class="first__map-img">
                </a>
                <li class="first__list-item">
                    <i class="first__list-icon fa-solid fa-angles-right"></i>
                    <a href="" class="first__list-item-label">Tìm địa chỉ cửa hàng gần bạn</a>
                </li>
            </div>

            <div class="grid__column-4">
                <h3 class="first__heading">Kết nối với 4men</h3>
                <a href="" class="first__connect-page">
                    <div class="first__connect-wrap">
                        <img src="https://scontent.fvca4-1.fna.fbcdn.net/v/t39.30808-6/470669463_1012852847540477_2143476451895746946_n.png?stp=dst-png_s350x350&_nc_cat=103&ccb=1-7&_nc_sid=4cb600&_nc_ohc=z5b6zghYSM8Q7kNvgGuWvKI&_nc_oc=AdgIq4ohCoVCbsPgcPid0vJKGxQWH-WWR903fI7ADWJM_hAlqKcrmlKTiTQaILP-CZwm3jem0Gv7N0x7AjumXniQ&_nc_zt=23&_nc_ht=scontent.fvca4-1.fna&_nc_gid=A1CnMoZqI4oVhyiIhDjz7ZU&oh=00_AYCLyPExS09LypjIypvuV4s8xw_iKzrqvBsr8d37PP68Zw&oe=67A7B495" alt="" class="first__bg-connect-img">
                        <div class="first__connect-heading">
                            <img src="https://scontent.fvca4-1.fna.fbcdn.net/v/t39.30808-1/470194022_1011231847702577_5784621998425629700_n.jpg?stp=cp0_dst-jpg_s50x50_tt6&_nc_cat=102&ccb=1-7&_nc_sid=fe756c&_nc_ohc=TBlWBDGh5XQQ7kNvgFZZM3A&_nc_oc=AdjcJxFTLPnnKzoG1FmTsWNfTpjNZgHevyhy3DXdMwBNgvwdZxPhKrG45i2u5wPWWPpSLJzR6pQXDGic_uJFFz3i&_nc_zt=24&_nc_ht=scontent.fvca4-1.fna&_nc_gid=A1CnMoZqI4oVhyiIhDjz7ZU&oh=00_AYD9vLSBdLE9FyUkv0ETKHLCbiKhipsI1T7PtSCe98aZnw&oe=67A7D3AF" alt="" class="first__connect-img">
                            <div class="first__connect-label">
                                <div class="first__connect-name">4MEN</div>
                                <div class="first__connect-followers">258.543 người theo dõi</div>
                            </div>
                        </div>
                        <button class="first__connect-follow-btn">
                            <i class="first__connect-follow-icon fa-brands fa-square-facebook"></i>
                            Theo dõi trang
                        </button>
                    </div>
                </a>
                <ul class="first__social-list">
                    <li class="first__social-item">
                        <a href="" class="first__social-link">
                            <i class="first__social-icon fa-brands fa-square-facebook"></i>
                        </a>
                    </li>
                    <li class="first__social-item">
                        <a href="" class="first__social-link">
                            <i class="first__social-icon fa-brands fa-square-instagram"></i>
                        </a>
                    </li>
                    <li class="first__social-item">
                        <a href="" class="first__social-link">
                            <i class="first__social-icon fa-brands fa-square-youtube"></i>
                        </a>
                    </li>
                    <li class="first__social-item first__social-item--btn">
                        <a href="" class="first__social-link">
                            <i class="fa-solid fa-thumbs-up"></i>
                            Thích 5,8k
                        </a>
                    </li>
                    <li class="first__social-item first__social-item--btn">
                        <a href="" class="first__social-link">
                            <i class="fa-solid fa-share"></i>
                            Chia sẻ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid">
        <h3 class="first__email-input-label">Đăng ký nhận email khuyến mãi</h3>
        <div class="first__email-input-wrap">
            <input placeholder="Email của bạn" type="email" class="first__email-input">
            <button class="first__email-btn">Đăng ký</button>
        </div>
    </div>
</div>
<div class="footer__second">
    <div class="grid footer__second-wrap">
        <div class="width__3-4 second__left">
            <p class="second__copyright">
                Copyright 2025 · Thiết kế và phát triển bởi 4MEN SHOP All rights reserved
            </p>
            <p class="second__owner">
                Chủ quản: ông Tờ rần Tờ rung.
                <br>MST cá nhân: 03đã412quá6
                <br>Số ĐKKD: 41pepsi312ơi09 do UBND Quận 7 - Tp.HCM cấp ngày 05/06/2017
            </p>
            <p class="second__label">
                Nhãn hiệu "4MEN" đã được đăng kí độc quyền tại Cục sở hữu trí tuệ Việt Nam
            </p>
        </div>
        <div class="width__1-4 second__right">
            <a href="" class="second__right-link">
                <img src="https://4menshop.com/gov.png" alt="" class="second__right-img">
            </a>
        </div>
    </div>
</div>
</footer>