.header__cart,
.footer__policy,
.cart-item__remove-btn {
    display: none;
}

.checkout__wrap {
   display: flex; 
}

.checkout__title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 50px;
    text-transform: uppercase;
}

/* Checkout Form */
#checkout-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.checkout__label {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.checkout__name,
.checkout__phone,
.checkout__address,
.checkout__shipping-method,
.checkout__payment-method {
    margin-bottom: 20px;
}

.checkout__name label,
.checkout__phone label,
.checkout__address label,
.checkout__shipping-method label,
.checkout__payment-method label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
}

.checkout__name input,
.checkout__phone input,
.checkout__address input,
.checkout__shipping-method select,
.checkout__payment-method select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border 0.3s;
    margin-left: 5px;
}

.checkout__name input:focus,
.checkout__phone input:focus,
.checkout__address input:focus,
.checkout__shipping-method select:focus,
.checkout__payment-method select:focus {
    border-color: #007bff;
    outline: none;
}

.checkout__name input::placeholder,
.checkout__phone input::placeholder,
.checkout__address input::placeholder,
.checkout__shipping-method select::placeholder,
.checkout__payment-method select::placeholder {
    color: #aaa;
}

.checkout__shipping-method,
.checkout__payment-method {
    margin-bottom: 30px;
}

#checkout {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 0 5px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#checkout h2 {
    padding: 0 0 0 30px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.cart-item__name {
    font-size: 1.6rem;
}

.cart-item:last-child {
    border-bottom: none;
}

.checkout__detail {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.checkout__detail h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

